.projects-divider {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #611e1e;
}

.projects-vertical-line {
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #611e1e;
}
