.projects-divider {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #611e1e;

  /* Start with 0 width */
  transform: translateX(-100%);
  animation: slideIn 1s ease forwards;
}

/* Animation Keyframes */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.projects-vertical-line {
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #611e1e;
}
