.about-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #611e1e;

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.9s ease-out;
}

/* Horizontal divider */
.about-divider {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #611e1e;
  margin: 2rem 0;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s ease-out;
}
