.about-line {
  position: absolute;
  left: 0;
  top: 50px; /* start lower */
  bottom: -50px; /* stop at bottom of parent container */
  width: 4px;
  background-color: #611e1e;
  transition: opacity 0.8s ease, height 0.8s ease;
}

.show-line .about-line {
  opacity: 1;
}

/* Horizontal */
.about-divider {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #611e1e;
  margin: 2rem 0;
  transition: opacity 0.8s ease;
}

.show-line .about-divider {
  opacity: 1;
}
