.about-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #611e1e;

  opacity: 0.3;
  transition: opacity 0.8s ease, height 0.8s ease;
}

.show-line .about-line {
  opacity: 1;
}

/* Horizontal */
.about-divider {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #611e1e;
  margin: 2rem 0;

  opacity: 0.3;
  transition: opacity 0.8s ease;
}

.show-line .about-divider {
  opacity: 1;
}
