/* =========================
   Divider line (right → left)
   ========================= */
.projects-divider {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #611e1e;
  margin-bottom: 18px;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1.8s ease-out 0.6s;
}

/* Animate when section is active */
.show-line .projects-divider {
  transform: scaleX(1);
}

/* =========================
   Vertical line (bottom → top)
   ========================= */
.projects-vertical-line {
  position: absolute;
  right: 0;
  top: 30px;
  width: 4px;
  height: calc(100% - 50px);
  background-color: #611e1e;

  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 1.8s ease-out;
}

/* Animate when section is active */
.show-line .projects-vertical-line {
  transform: scaleY(1);
}

.hover-container {
  position: relative;
  display: block;
  color: white;
}

/* Hover list */
.hover-list {
  position: absolute;
  top: 0;
  left: 180px;
  transform: translate(70%, 0);
  background: #211f1f;
  color: #ffffff;
  padding: 6px 8px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  list-style: none;

  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;

  min-width: 180px;
  max-width: clamp(200px, 50vw, 350px);
  white-space: normal;
  z-index: 10;
}

/* Show hover list on hover */
.hover-container:hover .hover-list {
  opacity: 1;
  visibility: visible;
  transform: translate(60%, 0);
}

/* Flip to left on small screens */
@media (max-width: 768px) {
  .hover-list {
    right: auto;
    left: 50px;
    font-size: 2px;
    transform: translate(0, 0);
    max-width: 90vw;
  }

  .hover-container:hover .hover-list {
    transform: translate(0, 0);
  }
}

/* List items */
.hover-list li {
  display: flex;
  gap: 10px;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 6px 0;
}

/* Accent hover effect */
.hover-list li:hover {
  color: #611e1e;
  padding-left: 6px;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.hover-list li:not(:has(img)) {
  display: block;
  padding-left: 32px;
}

/* Icons inside list */
.hover-list .icon {
  width: 22px;
  height: 22px;
  object-fit: cover;
}

ul.space-y-1 li {
  list-style: none;
}

.video-btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: #611e1e;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s ease;
}

.video-btn:hover {
  background-color: #cc0000;
  transform: translateY(-2px);
}
